In [46]:
import pandas as pd
import numpy as np

In [47]:
df = pd.read_csv('../../data_sets/SA_clean_HMEQ_Loss.csv')

In [48]:
df.head()

,TARGET_BAD_FLAG,IMP_TARGET_LOSS_AMT,IMP_LOAN,flag_LOAN,IMP_MORTDUE,flag_MORTDUE,IMP_VALUE,flag_VALUE,IMP_YOJ,flag_YOJ,...,IMP_DEBTINC,flag_DEBTINC,z_REASON,z_JOB,z_JOB_Office,z_JOB_Other,z_JOB_ProfExe,z_JOB_Sales,z_JOB_Self,z_REASON_HomeImp
0,1,641.0,1100,0,25860.0,0,39025.0,0,10.5,0,...,34.818262,1,HomeImp,Other,0,1,0,0,0,1
1,1,1109.0,1300,0,70053.0,0,68400.0,0,7.0,0,...,34.818262,1,HomeImp,Other,0,1,0,0,0,1
2,1,767.0,1500,0,13500.0,0,16700.0,0,4.0,0,...,34.818262,1,HomeImp,Other,0,1,0,0,0,1
3,1,1425.0,1500,0,65019.0,1,89235.5,1,7.0,1,...,34.818262,1,DebtCon,Other,0,1,0,0,0,0
4,0,0.0,1700,0,97800.0,0,112000.0,0,3.0,0,...,34.818262,1,HomeImp,Office,1,0,0,0,0,1

In [49]:
def cap_vars (df, var):
    upper_cap = df[var].mean() + (3*df[var].std())
    df[f'O_{var}'] = np.where(df[var]> upper_cap, upper_cap, df[var])
    df[f'O_Flag_{var}'] = np.where(df[var]> upper_cap, 1, 0) 
    df= df.drop(columns= var)
    return df

In [45]:
fix_cols = [i for i in df.columns if i.startswith('IMP') and i != 'IMP_TARGET_LOSS_AMT' ]

In [50]:
for var in fix_cols:
    df = cap_vars (df= df, var= var)

In [51]:
df.head()

,TARGET_BAD_FLAG,IMP_TARGET_LOSS_AMT,flag_LOAN,flag_MORTDUE,flag_VALUE,flag_YOJ,flag_DEROG,flag_DELINQ,flag_CLAGE,flag_NINQ,...,O_IMP_DELINQ,O_Flag_IMP_DELINQ,O_IMP_CLAGE,O_Flag_IMP_CLAGE,O_IMP_NINQ,O_Flag_IMP_NINQ,O_IMP_CLNO,O_Flag_IMP_CLNO,O_IMP_DEBTINC,O_Flag_IMP_DEBTINC
0,1,641.0,0,0,0,0,0,0,0,0,...,0.0,0,94.366667,0,1.0,0,9.0,0,34.818262,0
1,1,1109.0,0,0,0,0,0,0,0,0,...,2.0,0,121.833333,0,0.0,0,14.0,0,34.818262,0
2,1,767.0,0,0,0,0,0,0,0,0,...,0.0,0,149.466667,0,1.0,0,10.0,0,34.818262,0
3,1,1425.0,0,1,1,1,1,1,1,1,...,0.0,0,173.466667,0,1.0,0,20.0,0,34.818262,0
4,0,0.0,0,0,0,0,0,0,0,0,...,0.0,0,93.333333,0,0.0,0,14.0,0,34.818262,0

In [54]:
df.to_csv('../../data_sets/SA_clean_O_fixed_HMEQ_Loss.csv')